<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>
<table>
  <% @animal.sightings.each do |animal| %>
  <tr>
    <td><%="#{animal.latitude}"%></td>
    <td><%="#{animal.longitude}"%></td>
    <td><%="#{animal.date}"%></td>
    <td><%="#{animal.time}"%></td>
  </tr>
    <%end%>
  </table>

<div id="map">

</div>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
<%= link_to 'Update',new_sighting_path %>
